body{
  background-color: yellow;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
header{
  /* 높이와 라인하이트가 같으면 수직 가운데 정렬된다. */
  height: 90px;
  line-height: 90px;
  background-color: rgb(245, 123, 123);
}
nav{ height: 80px; line-height: 80px;
  background-color: hotpink;
}
section{height: 400px; line-height: 200px;
  border-bottom: 5px solid black;
}
footer{height: 200px; line-height: 200px;}